.searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.countriesListBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.countriesListBtn button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

.input {
   font-size: 1.4rem;
   border: none;
   border-radius: 10px;
  }

.inputTitle {
  font-size: 1.2rem;

}

.imgflag{
  width: 15px;
  height: 15px;
}
  